[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
psycopg2-binary = "*"
django-allauth = "*"
djangorestframework = "*"
django-rest-auth = "*"
django-environ = "*"
pillow = "*"
django-cors-headers = "*"
django-extra-fields = "*"
djongo = "*"
dnspython = "*"
boto3 = "*"
django-storages = "*"
python-memcached = "*"

[requires]
python_version = "3.8"
